data/
legacy_old_stuff/egn.csv
notebook_abuse_model/data
notebook_abuse_model/.ipynb_checkpoints
.ipynb_checkpoints
.idea/
app_credentials.py
app_self_host.py
hello.py
venv
*.pyc
.DS_Store
.env
.vscode/
procfile
